* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* ***************************************** */
/* Navbar Start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
  position: fixed;
  width: 100%;
}

nav div.logos {
  display: flex;
}
nav div.logos div {
  padding: 5px;
  border: 1px solid black;
  margin: 2px;
}
nav div.logos div img {
  width: 100%;
  height: 100%;
}

nav div.links ul {
  display: flex;
}
nav div.links ul li {
  list-style: none;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav div.links ul li a {
  text-decoration: none;
}

.filler {
  height: 65px;
  width: 100%;
}
/* Navbar End */
/* ***************************************** */

/* ***************************************** */
/* HomePage Start */

/* HomePage End */
/* ***************************************** */

/* ***************************************** */
/* Team Start */
#mediaheads {
  /* background-color: blue; */
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#members {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
div.card img {
  border-radius: 5px 5px 0 0;
}
div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
div.card div.container {
  padding: 2px 16px;
}
/* Team End */
/* ***************************************** */

/* ***************************************** */
/* Events Start */

/* Events End */
/* ***************************************** */

/* ***************************************** */
/* Footer Start */
footer {
  background-color: rgb(65, 54, 54);
  color: white;
}
footer div {
  padding: 20px;
}
footer div ul {
  display: flex;
}
footer div ul li {
  list-style: none;
  margin: 0px 15px;
}
/* Footer End */
/* ***************************************** */
