* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* ***************************************** */
/* Navbar Start */

/* Navbar End */
/* ***************************************** */

/* ***************************************** */
/* HomePage Start */

/* HomePage End */
/* ***************************************** */

/* ***************************************** */
/* Team Start */

/* Team End */
/* ***************************************** */

/* ***************************************** */
/* Events Start */

/* Events End */
/* ***************************************** */
